/* stile coupon */
.coupon-list {
  margin: 80px auto 20px; 
  background: #018ed4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding-top: 30px;
  margin-top: 240px;
}

.coupon-list h2 {
  margin-bottom: 20px;
  color: #333;
}

.coupon-list ul {
  list-style-type: none;
  padding: 10px 0;
  margin-top: 10px;
}

.coupon-item {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coupon-item .coupon-image {
  max-width: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.coupon-item .coupon-details {
  flex: 1;
}

.coupon-item h3 {
  margin: 0;
  color: #333;
}

.coupon-item p {
  margin: 5px 0;
  color: #777;
}

.coupon-item .coupon-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0056b3;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

/* stile menu coupon */
.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.menu button {
  background: none;
  border: 1px solid #0056b3;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0056b3;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.menu button:hover {
  background-color: #00468c;
}

.menu .icon {
  font-size: 24px;
  color: white;
  margin-right: 10px;
}

.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px; 
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.back-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* responsive */
@media only screen and (max-width: 1200px) {
  .coupon-list {
    max-width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .coupon-list {
    padding: 15px;
  }

  .coupon-item {
    padding: 15px;
  }

  .back-link {
    margin-top: 40px; 
  }
}

@media only screen and (max-width: 576px) {
  .coupon-list {
    padding: 10px;
  }

  .coupon-item {
    padding: 10px;
  }

  .back-link {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .coupon-list {
    margin: 10px;
    padding: 10px;
  }

  .back-link {
    margin-top: 20px; 
  }
}

@media only screen and (max-width: 374px) {
  .coupon-list,
  .coupon-item {
    padding: 10px;
  }

  .back-link {
    margin-top: 5px; 
  }
}
